body {
  font-family: monospace;
  text-align: center;
  background-color: red;
  font-size: 25px;
  
 
}


li {
  list-style-type: none;
  
  ;
  
}

h1 {
  background-color: tomato;
  font-family: fantasy;
}

h2 {
  font-family: fantasy;
}

h3 {
  font-family: fantasy;
}

